<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> Ajouter une Opinion.</h1>
	<h2 th:text="${film.titre}"></h2>
	
	<form th:action="@{/ajouterAvis}" th:object="${opinion}" method="post">
		<label for="id"> id : </label>
		<input type="number" th:field="*{id}" min="1" id="id">
		<label for="rating"> note : </label>
		<input type="number" th:field="*{rating}" min="1" max="5" id="rating">
		<label for="opinion"> commentaire : </label>
		<input type="text" th:field="*{opinion}" id="opinion">
		<button type="submit">Valider</button>
	</form>

</body>
